@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button{
    @apply justify-items-center w-40 m-5 p-5 bg-yellow-500
}
.list_item{  
    @apply  transition-all duration-500 hover:after:duration-500 px-1 relative 
    hover:text-green-500 after:absolute after:h-1  
    after:w-0 hover:after:w-full  after:bg-green-500 
    after:top-8 
    after:left-1/2 hover:after:left-0 
}
.list_item--active{
    @apply text-green-500 after:absolute after:h-1 after:bg-green-500 after:top-8 after:left-0 after:w-full
}
.btn{
    @apply px-5 py-4  sm:text-xl transition-all duration-300 sm:rounded font-semibold self-center justify-self-center sm:w-max m-2 w-full text-center
}
.details{
    @apply rounded-full bg-gray-200 px-3 py-1 font-semibold
}
.quotes{
    @apply text-2xl text-green-500 font-semibold
}
.form-input_container{
@apply flex md:flex-row flex-col self-start justify-between md:items-center items-start w-full child:mb-4 
}
.form-input{
    @apply md:w-10/12 w-full py-2 px-4 rounded-xl focus:outline-none
}
.form-label{

}
.footer_link{
@apply text-green-500 font-bold text-xl mb-4
}
.footer_ul{
    @apply flex flex-col space-y-1
}
.main-titles{
    @apply self-center md:text-4xl text-3xl text-gray-500 font-normal mb-24
}

.title-style{
    color:transparent;
    background-image: linear-gradient(to right,#7ed56f, #28b485);
    background-clip: text;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;

    
}
.title-style:hover{
    transform: skewY(-10deg);
    @apply drop-shadow-lg
}